@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    ViewBag.Title = "EmployeeRecords";
}

<h2>EmployeeRecords</h2>

<html>
<head>

</head>

<body>
    <table border="2" cellpadding="2">
        <thead>


            <tr>
                <td>Employee ID</td>
                <td>Employee Name</td>
                <td>Age</td>
                <td>Location</td>
                <td>Phone</td>
                <td>Vehicle ID</td>

            </tr>
        </thead>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["EmployeeId"].ToString()</td>
                <td>@dr["EmployeeName"].ToString()</td>
                <td>@dr["Age"].ToString()</td>
                <td>@dr["Locations"].ToString()</td>
                <td>@dr["Phone"].ToString()</td>
                <td>@dr["VehicleID"].ToString()</td>

                <td>@Html.ActionLink("Edit", "EmployeeEdit", new { Employeeid = dr["Employeeid"].ToString() })</td>

            </tr>
        }
    </table>


</body>
</html>

